.Navbar {
  background-color: transparent !important;
  margin-top: 10px;
  .logo {
    display: flex;
    align-items: center;
    .page-name {
      margin-left: 6px;
      color: white;
      font-size: 33px;
      font-family: $logo-font;
    }
  }
  .links {
    width: 100%;
    justify-content: center;

    a {
      color: white;
      font-size: 19px;
      margin-right: 35px;
    }
    .active {
      background-color: white;
      color: $blue-color !important;
      border-radius: 8px;
    }
  }
  .LoginBtns {
    .loginBtn,
    .registerBtn {
      background-color: white;
      color: $blue-color;
      padding: 7px;
      border-radius: 8px;
      font-weight: 700;
      width: 90px;
      text-align: center;
    }
    a {
      color: white;
      font-size: 18px;
      margin-right: 22px;
    }
  }

  .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.646);
    padding: 3px 8px;
  }
  @media (max-width: 1200px) {
    .links {
      a {
        font-size: 17px;
        margin-right: 11px;
      }
    }
    .logo {
      .page-name {
        font-size: 26px;
      }
    }
    .LoginBtns {
      .loginBtn,
      .registerBtn {
        width: fit-content;
      }
      a {
        margin-right: 12px;
      }
    }
  }

  @media (max-width: 992px) {
    .logo {
      .page-name {
        font-size: 24px;
      }
      .img-fluid {
        width: 40px;
      }
    }
    .LoginBtns {
      a {
        margin: 10px auto;
      }
    }
  }
}
