@import "bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
a {
  color: white;
  text-decoration: none !important;
}

.Cus_Margin_Padding {
  padding: 40px 0;
  margin-top: 40px;
}
@media (max-width: 992px) {
  .Cus_Margin_Padding {
    margin-top: 0;
  }
}

.HoemPage {
  background: url("/home_bg.jpg");
  background-size: cover;
  background-position-y: 200px;
  height: 100vh;
  text-align: center;
  position: relative;
}
.HoemPage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #3d67ed, #3d67ed, rgba(0, 0, 0, 0.3098039216), rgba(0, 0, 0, 0.3098039216));
}
.HoemPage .stHead {
  margin-top: 190px;
}
.HoemPage .secHead {
  margin-top: -17px;
}
.HoemPage .secHead span {
  color: #203471;
}
.HoemPage .stHead,
.HoemPage .secHead {
  font-size: 87px;
  font-weight: 800;
  color: white;
}
.HoemPage .info {
  font-size: 23px;
  color: white;
  margin-top: 20px;
}
.HoemPage .work {
  width: 177.3px;
  height: 60px;
  border-radius: 8px;
  text-decoration: none !important;
  margin-top: 30px;
}
.HoemPage .work span {
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 15px;
  background-color: #3d67ed;
  color: white;
}
.HoemPage .squar {
  position: absolute;
  left: -2%;
  top: 53%;
  width: 150px;
  height: 150px;
  transform: rotate(45deg);
  background: linear-gradient(45deg, #3d67ed, #3d67ed, #203471);
}
.HoemPage .squar::before {
  position: absolute;
  content: "";
  width: 140%;
  height: 140%;
  border: 3px solid white;
  left: -20%;
  top: -20%;
}
@media (max-width: 1200px) {
  .HoemPage .stHead,
  .HoemPage .secHead {
    font-size: 73px;
  }
  .HoemPage .squar {
    display: none;
  }
}
@media (max-width: 767px) {
  .HoemPage .secHead,
  .HoemPage .stHead {
    font-size: 56px;
  }
}
@media (max-width: 585px) {
  .HoemPage {
    background-position-x: 13%;
  }
  .HoemPage .secHead {
    margin-top: 3px;
  }
  .HoemPage .secHead span {
    display: block;
    line-height: 0.3;
  }
  .HoemPage .stHead {
    margin-top: 104px;
  }
  .HoemPage .info {
    font-size: 17px;
  }
}

.Navbar {
  background-color: transparent !important;
  margin-top: 10px;
}
.Navbar .logo {
  display: flex;
  align-items: center;
}
.Navbar .logo .page-name {
  margin-left: 6px;
  color: white;
  font-size: 33px;
  font-family: "Pacifico";
}
.Navbar .links {
  width: 100%;
  justify-content: center;
}
.Navbar .links a {
  color: white;
  font-size: 19px;
  margin-right: 35px;
}
.Navbar .links .active {
  background-color: white;
  color: #3d67ed !important;
  border-radius: 8px;
}
.Navbar .LoginBtns .loginBtn,
.Navbar .LoginBtns .registerBtn {
  background-color: white;
  color: #3d67ed;
  padding: 7px;
  border-radius: 8px;
  font-weight: 700;
  width: 90px;
  text-align: center;
}
.Navbar .LoginBtns a {
  color: white;
  font-size: 18px;
  margin-right: 22px;
}
.Navbar .navbar-toggler {
  background-color: rgba(255, 255, 255, 0.646);
  padding: 3px 8px;
}
@media (max-width: 1200px) {
  .Navbar .links a {
    font-size: 17px;
    margin-right: 11px;
  }
  .Navbar .logo .page-name {
    font-size: 26px;
  }
  .Navbar .LoginBtns .loginBtn,
  .Navbar .LoginBtns .registerBtn {
    width: -moz-fit-content;
    width: fit-content;
  }
  .Navbar .LoginBtns a {
    margin-right: 12px;
  }
}
@media (max-width: 992px) {
  .Navbar .logo .page-name {
    font-size: 24px;
  }
  .Navbar .logo .img-fluid {
    width: 40px;
  }
  .Navbar .LoginBtns a {
    margin: 10px auto;
  }
}

.Services {
  margin-top: 80px;
}
.Services .TextCard {
  padding: 15px;
}
.Services .service-Numbers {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
}
.Services .service-Numbers .num {
  background-color: #3d67ed;
  color: white;
  height: 82px;
  width: 82px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 900;
  margin: auto;
}
.Services .service-Numbers .name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 11px;
}
.Services .head {
  font-size: 66px;
  color: #3d67ed;
  font-weight: 800;
  line-height: 1.3;
}
.Services .info {
  margin-top: 32px;
  color: #313131;
  font-size: 17px;
}
.Services .browse {
  background-color: #3d67ed;
  width: 50%;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 11px 0;
  color: white;
  margin-top: 46px;
  font-weight: 600;
  font-size: 19px;
}
@media (max-width: 1400px) {
  .Services .head {
    font-size: 53px;
  }
  .Services .info {
    margin-top: 11px;
  }
  .Services .service-Numbers {
    margin-top: 25px;
  }
  .Services .browse {
    margin-top: 30px;
  }
  .Services .ImageCard .img-fluid {
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .Services .head {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .Services {
    margin-top: 0;
  }
  .Services .service-Numbers .num {
    height: 70px;
    width: 70px;
    font-size: 21px;
    font-weight: 600;
  }
  .Services .service-Numbers .name {
    font-size: 13px;
  }
  .Services .service-Numbers .details {
    width: 25%;
  }
  .Services .browse {
    margin: 30px auto;
    width: 100%;
  }
}

.Doctors .ImgCard,
.Doctors .TextCard {
  padding: 0;
}
.Doctors .TextCard {
  background-color: #3d67ed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Doctors .TextCard .content {
  padding: 47px;
}
.Doctors .TextCard .head {
  font-size: 43px;
  font-weight: 800;
  color: black;
}
.Doctors .TextCard .descHead {
  font-size: 27px;
  letter-spacing: 3px;
  padding: 25px 0;
}
.Doctors .TextCard .info {
  color: rgba(0, 0, 0, 0.831);
}
.Doctors .nums {
  display: flex;
  margin-top: 62px;
  font-size: 20px;
  margin-left: 15px;
}
.Doctors .nums .col {
  position: relative;
}
.Doctors .nums .col::before {
  position: absolute;
  content: "";
  left: -15px;
  width: 3px;
  height: 110%;
  top: -5%;
  background-color: white;
}
@media (max-width: 1250px) {
  .Doctors .ImgCard .img-fluid {
    height: 100%;
  }
  .Doctors .TextCard .content {
    padding: 40px 15px;
  }
  .Doctors .TextCard .head {
    font-size: 31px;
  }
  .Doctors .TextCard .descHead {
    font-size: 20px;
  }
  .Doctors .nums {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .Doctors .nums {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 40px;
  }
}

.ExpertDoctors .header {
  font-size: 37px;
  letter-spacing: 6px;
  margin: 20px 0;
  text-align: center;
}
.ExpertDoctors .DoctorCard {
  border-radius: 8px;
  margin: 10px auto;
  overflow: hidden;
  padding: 0;
  transition: 0.5s;
  width: calc(25% - 20px);
}
.ExpertDoctors .DoctorCard .img-fluid {
  display: block;
  position: relative;
  top: 0;
  transition: 0.5s;
}
.ExpertDoctors .DoctorCard .doctorDetails {
  background-color: #eff5ff;
  height: 100px;
  padding: 30px;
  position: relative;
  text-align: center;
  transition: 0.5s;
  z-index: 1;
}
.ExpertDoctors .DoctorCard .doctorDetails .name {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
}
.ExpertDoctors .DoctorCard .doctorDetails .dep {
  color: #3d67ed;
  padding: 5px 0;
}
.ExpertDoctors .DoctorCard .doctorDetails .socials {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 21px;
}
.ExpertDoctors .DoctorCard:hover .doctorDetails {
  height: 160px;
  margin-top: -60px;
}
.ExpertDoctors .DoctorCard:hover .img-fluid {
  top: -17px;
}
@media (max-width: 992px) {
  .ExpertDoctors .DoctorCard {
    width: 43%;
  }
}
@media (max-width: 585px) {
  .ExpertDoctors {
    margin-top: -40px;
  }
  .ExpertDoctors .DoctorCard {
    width: calc(100% - 40px);
  }
  .ExpertDoctors .header {
    font-size: 25px;
    letter-spacing: 3px;
  }
}

footer {
  background-color: #3d67ed;
  color: white;
  padding: 40px 0 15px 0;
}
footer .head {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
footer ul {
  margin-left: -14px;
  list-style: disc !important;
}
footer ul li {
  padding: 2px 0px;
  cursor: pointer;
  transition: 0.4s;
}
footer .inputs {
  position: relative;
  margin-top: 20px;
}
footer .inputs .form-control {
  height: 60px;
}
footer .inputs button {
  position: absolute;
  top: 8px;
  right: 10px;
  height: 42px;
  background-color: #3d67ed;
}
footer .inputs button:hover {
  background-color: #203471;
}
footer i {
  color: white;
}
footer .copy {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  footer .foot-box {
    margin: 20px 0;
  }
  footer .copy {
    text-align: center;
    line-height: 2;
    display: block;
  }
}

.Guide {
  height: 910px;
  background: url("/guide_bg.jpg");
  position: relative;
  background-size: cover;
}
.Guide .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.15);
}
.Guide .content {
  width: 40%;
  margin-top: 290px;
}
.Guide .subHead {
  font-size: 19px;
  letter-spacing: 2px;
}
.Guide .subHead span {
  color: #32cd32;
}
.Guide .head {
  font-size: 42px;
  font-weight: 700;
}
.Guide .head span {
  color: #3d67ed;
}
.Guide .bookBtn {
  display: block;
  background-color: #3d67ed;
  color: white;
  font-size: 19px;
  text-align: center;
  width: 250px;
  padding: 8px;
  border-radius: 50px;
  margin-top: 20px;
}
.Guide .GuideCard {
  color: white;
  padding: 30px;
  text-align: center;
  border-bottom: 2px solid white;
}
.Guide .GuideCard .icon {
  display: block;
  margin: auto;
  font-size: 47px;
}
.Guide .GuideCard .header {
  font-size: 18px;
  font-weight: 600;
  margin-top: 23px;
}
.Guide .GuideCard .info {
  color: rgba(255, 255, 255, 0.5803921569);
  margin-top: 12px;
}
.Guide .bg_Green {
  background-color: #32cd32;
}
.Guide .bg_Blue {
  background-color: #3d67ed;
}
.Guide .row {
  margin-top: 151px;
}
@media (max-width: 1400px) {
  .Guide .content {
    width: 46%;
  }
}
@media (max-width: 1200px) {
  .Guide .content {
    width: 52%;
  }
}
@media (max-width: 992px) {
  .Guide {
    background-position-x: 76%;
  }
  .Guide .content {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .Guide .head {
    font-size: 34px;
  }
  .Guide .content {
    margin-top: 243px;
  }
  .Guide .GuideCard {
    padding: 20px 5px;
  }
  .Guide .GuideCard .header {
    font-size: 16px;
    margin-top: 11px;
  }
  .Guide .GuideCard .info {
    margin-top: 5px;
  }
  .Guide .GuideCard .icon {
    font-size: 33px;
  }
  .Guide .bg_Blue {
    border-left: 2px solid white;
  }
}

.GuideServices {
  text-align: center;
}
.GuideServices .header {
  font-size: 37px;
  letter-spacing: 6px;
  margin: 20px 0;
}
.GuideServices .GuideService_Card {
  width: calc(20% - 20px);
  margin: 10px auto;
  padding: 10px 10px 25px 10px;
  border-radius: 10px;
  color: white;
}
.GuideServices .GuideService_Card .img-fluid {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.GuideServices .GuideService_Card .name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.GuideServices .GuideService_Card .info {
  color: rgba(255, 255, 255, 0.833);
  margin-top: 15px;
}
.GuideServices .bg_Blue {
  background-color: #3d67ed;
}
.GuideServices .bg_Green {
  background-color: #32cd32;
}
.GuideServices .About_Card {
  background-color: #3d67ed;
  margin-top: 110px;
  padding: 70px 0;
}
.GuideServices .About_Card .content {
  background-color: white;
  text-align: left;
  padding: 90px 40px;
  transform: translateX(104px);
  z-index: 1;
}
.GuideServices .About_Card .content hr {
  margin: 3rem 0;
}
.GuideServices .About_Card .content .head {
  font-size: 25px;
  font-weight: 600;
  color: #3d67ed;
}
.GuideServices .About_Card .content .msg {
  margin-top: 20px;
  font-size: 17px;
  color: #7e7e7e;
}
.GuideServices .ImgCard {
  background: url("/About_guide.jpg");
  background-size: cover;
}
@media (max-width: 1400px) {
  .GuideServices .GuideService_Card .name {
    font-size: 17px;
  }
  .GuideServices .GuideService_Card .info {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .GuideServices .GuideService_Card {
    width: calc(33.3333333333% - 30px);
  }
}
@media (max-width: 992px) {
  .GuideServices {
    margin-top: 180px;
  }
  .GuideServices .About_Card {
    padding: 30px;
  }
  .GuideServices .About_Card .content {
    transform: translateX(0px);
  }
  .GuideServices .ImgCard {
    height: 341px;
    margin-top: 0 !important;
  }
}
@media (max-width: 767px) {
  .GuideServices {
    margin-top: 30px;
  }
  .GuideServices .GuideService_Card {
    width: calc(50% - 30px);
  }
}
@media (max-width: 585px) {
  .GuideServices {
    margin-top: 80px;
  }
  .GuideServices .GuideService_Card {
    width: calc(100% - 30px);
  }
  .GuideServices .About_Card {
    margin-top: 50px;
  }
  .GuideServices .About_Card .content {
    padding: 56px 19px;
  }
}

.AddressInfo .AddressCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.AddressInfo .AddressCard .img-fluid {
  display: block;
  margin: auto;
}
.AddressInfo .AddressCard .head {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}
.AddressInfo .AddressCard .downBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.AddressInfo .AddressCard .downBtns .playstore {
  background-color: black;
  cursor: pointer;
  color: white;
  margin: 10px;
  padding: 8px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.AddressInfo .AddressCard .downBtns .icon {
  display: inline-block;
  margin-left: 5px;
}
.AddressInfo .Socials .icon,
.AddressInfo .Socials .socials {
  justify-content: center;
}
@media (max-width: 992px) {
  .AddressInfo .AddressCard {
    margin-top: 30px;
  }
}

.Socials .icon {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.Socials .icon .details {
  margin-left: 10px;
}
.Socials .socials {
  display: flex;
}
.Socials .socials a {
  color: black;
}
.Socials .socials .icon {
  width: 36px;
  height: 36px;
  margin-right: 24px;
  padding: 5px;
}

.Contact {
  text-align: center;
  margin-bottom: 50px;
}
.Contact .ContactCard .img-fluid {
  display: block;
  margin: auto;
}
.Contact .img-card {
  background: url("/contact.jpg");
  background-size: cover;
}
.Contact .row {
  margin-top: 50px;
}
.Contact .head {
  font-size: 37px;
}
.Contact .info {
  width: 68%;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.49);
  margin: 13px auto;
}
.Contact .line {
  width: 100px;
  height: 2px;
  background-color: #3d67ed;
  margin: 10px auto;
}
.Contact .text-feild {
  display: flex;
}
.Contact .text-feild .wid-Haf {
  width: 48%;
}
.Contact .form-control {
  height: 50px;
  margin: 10px auto;
}
.Contact .wid-ful {
  width: 98%;
}
.Contact #msg {
  resize: none;
  height: 150px;
  width: 98%;
  margin: 20px auto;
}
.Contact #submit {
  width: 98%;
  margin: 10px auto;
  height: 45px;
  border: none;
  background-color: #3d67ed;
  color: white;
}
@media (max-width: 767px) {
  .Contact .head {
    font-size: 34px;
  }
  .Contact .info {
    width: 90%;
    font-size: 19px;
  }
  .Contact .line {
    width: 174px;
  }
}

.Login {
  background: url("/login.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
  background-position-x: 50%;
}
.Login .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.Login .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.Login .header {
  font-size: 52px;
  font-weight: 700;
}
.Login .subHeader {
  font-size: 27px;
  margin-top: -3px;
  letter-spacing: 1px;
}
.Login .info {
  color: #ededed;
  font-size: 17px;
  margin-top: 19px;
}
.Login form {
  margin-top: 40px;
}
.Login .Lable {
  font-size: 18px;
  margin-top: 15px;
}
.Login .form-control {
  height: 50px;
}
.Login #submit {
  display: block;
  width: 150px;
  color: white;
}
.Login .registerBtn {
  text-decoration: underline !important;
  color: black;
  display: block;
  margin-top: 10px;
}
.Login .formCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 992px) {
  .Login {
    height: 140vh;
  }
  .Login .header {
    font-size: 46px;
  }
  .Login .lottieCard {
    margin-top: 50px;
  }
}

.Register {
  background: url("/login.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
  background-position-x: 50%;
}
.Register .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.Register .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 1450px;
}
.Register .row {
  width: 100%;
}
.Register .header {
  font-size: 52px;
  font-weight: 700;
}
.Register .info {
  color: #ededed;
  font-size: 17px;
  margin-top: 5px;
}
.Register form {
  margin-top: 30px;
}
.Register #submit {
  display: block;
  width: 250px;
  padding: 8px;
  color: white;
  margin: 16px 0 0 7px;
}
.Register .fulLine {
  display: flex;
}
.Register .fulLine .widHaf {
  width: 48%;
  margin: 5px auto;
}
.Register label {
  font-size: 18px;
}
.Register .form-control,
.Register select {
  height: 50px;
}
.Register .AnimationCard {
  display: flex;
  margin-top: 33px;
}
@media (max-width: 992px) {
  .Register {
    height: 149vh;
  }
}
@media (max-width: 767px) {
  .Register {
    height: 205vh;
  }
  .Register .fulLine {
    display: block;
  }
  .Register .fulLine .widHaf {
    width: 100%;
  }
  .Register .AnimationCard {
    margin-top: 50px;
  }
}/*# sourceMappingURL=globals.css.map */