@tailwind base;
@tailwind components;
@tailwind utilities;

@import "bootstrap/dist/css/bootstrap.css"; //bootstrap

//fonts
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); //logofont

//vars

$blue-color: #3d67ed;
$darkblue-color: #203471;
$aqua-color: #70bfd7;
$green-color: #32cd32;
$logo-font: "Pacifico";

//global classes

a {
  color: white;
  text-decoration: none !important;
}

.Cus_Margin_Padding {
  padding: 40px 0;
  margin-top: 40px;
  @media (max-width: 992px) {
    margin-top: 0;
  }
}
hr {
  margin: 12px 0px !important;
}
//import assest pages style
@import "Assests/HomePage";
@import "Assests/Navbar";
@import "Assests/Services";
@import "Assests/Doctors";
@import "Assests/ExpertDoctors";
@import "Assests/Footer";
@import "Assests/Guide";
@import "Assests/GuideServices";
@import "Assests/AddressInfo";
@import "Assests/Socials";
@import "Assests/Contact";
@import "Assests/Login";
@import "Assests/Register";
@import "Assests/Appointment";
@import "Assests/Specialization";
@import "Assests/UserProfile";
@import "Assests/LeftSideBar";
@import "Assests/AppoientmentDetails";
